# {{ ansible_managed }}

alias ..='cd ..'
alias cd..='cd ..'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'
alias l.='ls -ld .*'
alias ll='ls -l --color'
alias ls='ls -G --color'
alias now='date +%Y%m%d.%H%M'
alias vi='vim'
