#!/bin/bash

alias ..='cd ..'
alias ...='cd ../..'
alias bc='bc -l'
alias cd..='cd ..'
alias config='nano ~/.ssh/config'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias flush='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder'
alias g='grep --color=auto'
alias grep='grep --color=auto'
alias hosts='sudo nano /etc/hosts;sudo dscacheutil -flushcache'
alias ipy='ipython'
alias known='nano ~/.ssh/known_hosts'
alias l.='ls -ld .*'
alias ll='ls -l'
alias ls='ls -G'
alias nano='/usr/local/bin/nano -wK -T2'
alias nmap='nmap -oG ./.last.nmap'
alias now='date +%Y%m%d.%H%M%S'
alias root='sudo su -'
alias sdig='dig +short'
alias ssh-copy-id='ssh-copy-id -i ~/.ssh/id_rsa.pub'
alias vi='vim'
alias xdig='dig +short -x'
